html,
body {
	font-family: Arial, sans-serif;
/*    height: 100%;
    margin: 0;
    padding: 0;*/
}

.border {
	border-style: solid;
    border-color: red;
}

.container {
    height: 100%;
    max-width: 850px;
    margin: 2em 5em auto 5em;
/*    position: relative;*/
}

.options-box {
/*	width: 33.3%;*/
}



#map {
	bottom:0px;
	height: auto;
/*	left: 350px;*/
	position: absolute;
	overflow: hidden;
}

h1 {
	color: #525454;
	font-size: 15px;
	margin: 0 0 10px 0;
	text-align: left;
}

hr {
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}