html,
body {
	font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

#map {
	bottom:0px;
	height: 100%;
	left: 350px;
	position: absolute;
	right: 0px;
}

h1 {
	color: #525454;
	font-size: 15px;
	margin: 0 0 10px 0;
	text-align: left;
}

hr {
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}