* {
	font-family: 'Roboto', sans-serif;
}

.border {
	border-style: solid;
    border-color: grey;
}

.container {
    height: 100%;
    /*max-width: 850px;*/
    margin: 2em 5em auto 5em;
}

.search-results {
	max-height: 350px;
	overflow-y: scroll;
}

.bold-rule {
	height: 4px;
	background: #2d499d;
}

#map {
	bottom:0px;
	height: auto;
}

h1 {
	color: #2d499d;
	font-size: 20px;
	text-align: left;
}

hr {
	background: #D0D7D9;
	height: 1px;
	margin: 10px 0 10px 0;
	border: none;
}

ul {
	list-style: none;
	padding: 0px;
}

@media (max-width: 320px) {
	.container {
    	height: 100%;
    	width: 100%;
    	margin: 1em 0em 0em 0em;
	}
	.search-results {
		max-height: 100%;
	}

	#map {
		display: none;
	}
}

@media (max-width: 375px) {
	.container {
    	height: 100%;
    	width: 100%;
    	margin: 1em 0em 0em 0em;
	}

	#map {
		display: none;
	}
}

@media (max-width: 414px) {
	.container {
    	width: 100%;
    	margin: 1em 0em 0em 0em;
	}

	#map {
		height: 300px;
	}
}

@media (max-width: 768px) {
	.container {
    	height: 100%;
    	width: 100%;
    	margin: 1em 0em 0em 0em;
	}
	.search-results {
		min-height: 500px;
		overflow-y: scroll;
	}

	#map {
		display: flex;
	}
}

@media (max-width: 1024px) {
	.container {
    	height: 100%;
    	width: 100%;
    	margin: 1em 0em 0em 0em;
	}

	.search-results {
		min-height: 500px;
		overflow-y: scroll;
	}
	
	#map {
		display: flex;
	}

}

